<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--reset.css-->
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Todo List</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <header class="header">
          <h1 class="title">{{year}}年{{month}}月{{day}}日の仕事でのやることリスト</h1>
      </header>
      <ul>
        <li v-for="(todo,index) in todos">
          <input type="checkbox" v-model="todo.isDone">
          <p v-bind:class="{done:todo.isDone}">{{todo.item}}</p>
          <button v-on:click="deleteItem(index)">削除</button>
        </li>
      </ul>
      <form v-on:submit.prevent>
        <input placeholder="やることを入力"  type="text"  v-model="newItem" >
        <button v-on:click="addItem">タスクを登録する</button>
      </form>
    </div><!--/.container-->
  </div>
  <script src="js/common.js"></script>
</body>
</html>
